body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(236, 235, 235);

}

* {
  box-sizing: border-box;
}

/* Styles for Header */

.header-container {
  display: flex;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  background: rgb(36, 106, 133);
  position: relative;
  z-index: 1000;
}

.menu-button {
  padding: 1em;
}

.menu-button img {
  width: 30px;
  height: auto;
}

.header-text {
  color:white;
  width: 100%;
  font-weight: normal;
  font-size: 0.8em;
  text-align: center;
}


.main-body {}

#map {
  width: calc(100%-200px);
  margin-left: 200px;
}


/* Styles for sidebar */

.side-bar {
  float: left;
  padding: 2px;
  width: 200px;
  height: 100%;
  max-height: 100vh;
  text-align: left;
  background: rgb(236, 235, 235);
  margin-left: -2px;
}

.filter-title {
  text-align: center;
}

#search-box {
  display: block;
  width: 97%;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  padding-left: 20px;
  outline:none;
}

.filter-area {
  padding: 0;
}

.location-list {
  list-style: none;
}

.location-list li {
  margin-left: -40px;
  padding: 0.7em;
  outline:none
}

.location-list li:hover {
  outline: none;
  background:#659aaf7e;
}

.location-list li:focus {
  outline: none;
  background:#246a85;
  color:white;
}