body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Styles for Header */

.header-container {
  display: flex;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
  position: relative;
  z-index: 1000;
}

.menu-button {
  padding: 1em;
}

.menu-button img {
  width: 30px;
  height: auto;
}

.header-text {
  width: 100%;
  font-weight: normal;
  font-size: 0.8em;
  text-align: center;
}


.main-body{
}

#map{
  width:calc(100%-200px);
  margin-left: 200px;
}


/* Styles for sidebar */

.side-bar {
  float: left;
  padding-top: 66px;
  width: 200px;
  height: 100%;
  max-height: 100vh;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);


}